@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.display-flex {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: orange;
  padding: 20px;
  justify-content: space-between;
}

header .dayMode {
  background-color: green;
}

header .nightMode {
  background-color: black;
}

header .logo {
  font-size: 18px;
  background: black;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

header .nav a {
  color: black;
  display: block;
  margin: 0 5px;
  padding: 5px;
}

.hero {
  padding: 20px;
  background-color: lightskyblue;
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
  background: url(https://images.unsplash.com/photo-1518091043644-c1d4457512c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80)
    no-repeat center;
  background-size: cover;
}

footer {
  background-color: lightseagreen;
  padding: 20px;
  text-align: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

footer.dayMode {
  background-color: brown;
}

footer.nightMode {
  background-color: yellow;
}

.card {
  margin: 30px;
  position: relative;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 12px;
  object-fit: cover;
}

.card button {
  cursor: pointer;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 8px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color ease-in 0.3s;
}

.card button:hover {
  background-color: orange;
}

.card-container aside {
  flex: 1;
}

.card .icon {
  width: 20px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

.card .active button {
  background-color: #e02ca1d4;
}

.card.active .icon {
  display: block;
}
